@model IEnumerable<CBBusService.Models.BusRoute>

@{
    ViewData["Title"] = "Bus Route Listing";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusRouteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.BusRouteCode
            </td>
            <td>
                <a asp-controller="DTRouteStop" asp-action="Index" asp-route-BusRouteCode="@item.BusRouteCode"
                   asp-route-routeName="@item.RouteName">@Html.DisplayFor(modelItem => item.RouteName)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusRouteCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusRouteCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusRouteCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
