@model IEnumerable<CBBusService.Models.RouteStop>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"Stops on Route: {Context.Session.GetString("busRouteCode")} - " +
        $"{ Context.Session.GetString("routeName")}";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Add Stop to Route</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusStopNumber)
            </th>
            <th>
                Stop Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffsetMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusStopNumber)
            </td>
            <td>
                @item.BusStopNumberNavigation.Location
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffsetMinutes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteStopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteStopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteStopId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="DTRouteStop">Return to Index</a>